* {
    margin: 0px;
}

.control {
    margin: 20px;
    display: flex;
}

.container {
    height: 150px;
    width: 150px;
    background-color: #484848;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 3px;
}

.container.position-y input {
    height: 60%;
}

.container.position-y input[type="range"] {
    transform: rotate(180deg);
    -webkit-appearance: slider-vertical;
}

.container p {
    color: white;
}

.container input,
select {
    width: 60%;
    margin-top: 10px;
}

#shape {
    background-color: red;
    margin: 20px;
    position: absolute;
}

.container div {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}