/*==================*/
/*= RESET CSS ======*/
/*==================*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-family: Helvetica Neue, Helvetica, Arial, Utkal, sans-serif;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
}

/*==================*/
/*= CSS ======*/
/*==================*/
.ballons-container {
  position: relative;
  bottom: 0;
  height: 100vh;
  overflow: hidden;
}

.ballons-container .ballons-result {
  background: #e5e5e5;
  height: 70px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
}

.ballons-container .balloon {
  position: relative;
  z-index: 100;
  height: 200px;
  opacity: 0.8;
}

@keyframes float {
  from {
    transform: translateY(100vh);
  }
  to {
    transform: translateY(-300vh);
  }
}

.overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1000;
  display: none;
}
.overlay .alert-ballon {
  height: 475px;
  width: 341px;
  background: white;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgb(0 0 0);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.ballons-container .bg-sound {
  display: none;
}

.overlay .alert-ballon .sorry {
  font-weight: bold;
}

.overlay .alert-finish {
  height: 100%;
  width: 680px;
  background: #f6f6f6;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgb(0 0 0);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 18px;
  display: none;
}

.overlay .alert-finish img {
  height: 80%;
  width: auto;
}

.overlay .alert-finish .congratulation,
.overlay .alert-finish .ballons-result {
  font-weight: bold;
}
