/*==================*/
/*= RESET CSS ======*/
/*==================*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-family: Helvetica Neue, Helvetica, Arial, Utkal, sans-serif;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
}

header {
  height: 50px;
  background-color: black;
  color: white;
  position: fixed;
  z-index: 1000;
}

header .wrapper {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  height: 100%;
  justify-content: space-between;
}
header .wrapper .left {
  display: flex;
  align-items: center;
}

header .wrapper .right {
  display: flex;
  align-items: center;
}

header .wrapper .left ul {
  display: flex;
}
header .wrapper .left ul li {
  margin-left: 10px;
}

header .wrapper .right ul {
  display: flex;
}
header .wrapper .right ul li {
  margin-left: 10px;
}

.bgcl {
  height: 100%;
}
header img {
  height: 50px;
  width: 50px;
}

footer {
  height: 500px;
  background-color: black;
}
footer .wrapper {
  width: 1200px;
  margin: 0 auto;
  height: 100%;
}

input[type="text"] {
  width: 100%;
  margin: 30px 0;
  height: 50px;
  border-radius: 5px;
  position: relative;
}
.search {
  position: absolute;
  top: 40px;
  right: 95px;
  color: #09ff00;
}
.category {
  display: flex;
  color: white;
  justify-content: space-between;
  margin: 30px 0;
}

.category h6 {
  font-weight: bold;
  font-size: 20px;
  padding: 5px 0;
}
