<!-- <?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
 -->
 
 <beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://www.springframework.org/schema/beans"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
    http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context-2.5.xsd" >
	
	<context:annotation-config />

	<import resource="bean-overview.xml"/>
	<import resource="bean-scope.xml"/>

	<!-- Setter-base DI -->
	<!-- name là tên setter (bỏ chữ set ở đầu đi :)) ) -->
	<bean id="itemA" class="home.be.bean.Item">
		<property name="id" value="11"></property>
		<property name="name" value="Item 11"></property>
		<property name="providers">
			<list>
				<value>P1</value>
				<value>P2</value>
				<value>P3</value>
			</list>
		</property>
	</bean>
	
	<!-- Constructor-based DI -->
	<bean id="itemB" class="home.be.bean.Item">
		<constructor-arg name="id" value="99"/>
		<constructor-arg name="name" value="Item99"/>
	</bean>
	
</beans>
